body * {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'DM Sans', sans-serif;
    /* font-family: 'DM Serif Text', serif;   */  
}

body {
    padding: 0;
    margin: 0;
    border: 0;
}

